/******************************************
/* GENERAL STYLES
/*******************************************/


*{
    font-size: 62.5%;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #84b6ce, #916acf);
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1{
    font-size: 4rem;
    margin: 0 0 0.5rem 0;
}

span{
    font-size: 1.5rem;
}

h2{
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
}

#begin-button{
    font-size: 3rem;
    background-color: rgb(163, 157, 157);
    border: 1px solid rgb(131, 126, 126);
    border-radius: 5%;
    padding: 1rem;
}

.hidden,
.hidden > *{
	display: none;
}

#choices, #result, header{
    display: flex;
    flex-direction: column;
 }

/******************************************
/* HEADER STYLES
/*******************************************/

header{
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

nav{
    width: 100%;
}

ul{
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav > ul {
    border-bottom: 1px solid black;
}

li{
    padding: 1rem;
    font-size: 1.5rem;
}

li:hover{
    background-color: #916acf;
}

/******************************************
/* MAIN STYLES
/*******************************************/
 #intro-page, #question-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
 }

 #question{
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
    width: 75%;
    margin: 0;
 }

 #choices, #result, #error{
    width: 25%;
 }

 #choices li{
    width: 100%;
    border: 1px solid black;
    border-radius: 10%;
    margin: 0.5rem 0;
 }

 #result > *{
    width: 100%;
    text-align: center;
 }

 #nextButton{
    height: 3rem;
    background-color: #84b6ce;
    font-size: 2rem;
 }
/* 
 #errorMessage{
    align-self: center;
 }
 */

.timerSuggestion{
    width: 10%;
    background: rgb(228, 228, 228);
    position: fixed;

    bottom: 0;
    left: 0;
}

.timerSuggestion span{
    font-size: larger;
    font-weight: bolder;
}

 

